* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;

}

body {
  height: 100vh;
  background-color: #F5F5F7;
  /* background-image: url('images/background.jpg');*/
  background-size: cover;
  background-position: center;

}

h1 {
  color: #1D1D1F;
  font-size: 4em;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

h2,
h3,
h4 {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  color: #1D1D1F;

}

p,
li,
a {
  color: #86868B;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: rgb(0, 0, 0);
}

/*-----------------HOME-start-----------------*/
.home {
  position: relative;

}

.home h1 {
  position: absolute;
  z-index: 100;
  top: 1em;
  text-align: left;
  align-items: left;
  transform: translate(1.5%, 0);
}

.home .fcontent {
  position: absolute;
  transform: translate(2%, 0);
  z-index: 98;
  text-align: left;
  align-items: left;
  top: 20em;
}

.home .image {
  height: 50%;
  width: 50%;
  z-index: 98;
  top: 20px;
  transform: translate(120%, 0);

}

.home .image:hover {
  transform: translate(100%, 0);
}

@media (max-width: 925px) {
  .home .fcontent {
    position: relative;
    z-index: 98;
    text-align: left;
    align-items: left;
    top: 1em;
  }

  .home h1 {
    position: relative;
    z-index: 100;
    top: 0.1em;
    text-align: left;
    align-items: left;
    transform: left;


  }

  .home .image {
    height: 50%;
    width: 70%;
    z-index: 98;
    top: 10em;
    transform: translate(80%, 0);
    position: absolute;

  }

}



/*-----------------HOME-end-----------------*/



/*-----------------Team-start-----------------*/

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
  margin-top: 0 auto;
}


.team-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: transform 0.6s ease;
  align-items: center;

}

.team-card {
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .48);
  margin: 0px 20px;
  text-align: center;
  margin-bottom: 50px;
  align-items: center;

  padding: 40px;
  background: #FFFFFF;
  border: 0px 4px 10px rgba(0, 0, 0, .48);
  backdrop-filter: blur(20px);
  z-index: 100;

}

.team-card:hover {
  transform: translateY(-12px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.team-card:hover img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  object-fit: cover;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .48);

}

.team-card:hover .team-detail .p-icons a {
  display: inline;
  transition: all 0.3s ease-in-out;

}

.team-card:hover .team-detail p {
  display: none;
}

.team-card img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .48);

}

.team-detail h3 {
  color: #1D1D1F;
  font-size: 30px;
  margin: 15px 0px;

}

.team-detail p {
  font-size: 18px;
}

.team-detail .p-icons a {
  margin-top: 18px;
  margin-inline: 12px;
  margin-bottom: 6px;
  display: none;
  box-shadow: none;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .team-cards {
    flex-wrap: wrap;
    right: 0;

  }

  .team-card {
    width: 85%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
  }

}

@media(max-width : 576px) {
  .team-cards {
    flex-wrap: wrap;
  }

  .team-card {
    width: 100%;
    margin: 20px;
  }

  .team-card img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

/*-----------------TEAM-end-----------------*/

/*-----------------ABOUT-start-----------------*/

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content .image {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  opacity: 0.9;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box {
  z-index: 222;
  background: #FFFFFF;
  padding: 20px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .48);
  border-radius: 20px;
  transform: translate(-80px, 50px);
  z-index: 100;
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}



.info-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;

  z-index: 222;
  background: #FFFFFF;
  padding: 40px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .48);
  border-radius: 20px;
}

@media(max-width : 992px) {

  
}


/*-----------------About-end-----------------*/




/*-----------------NAVBAR-start*-----------------*/

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 101;
}

.navbar::before {
  content: '';
  background: rgba(0, 0, 1, 0.1);
  backdrop-filter: blur(40px);
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 40px;
  color: black;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}

.action-btn {
  background-color: #0071E3;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 40px;
}

.action-btn:hover {
  scale: 1.05;
  color: #fff;

}

.action-btn:active {
  scale: 0.95;
}

/* dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 70px;
  width: 300px;
  background: rgba(0, 0, 1, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  transition: .3s ease;


}

.dropdown-menu.open {
  height: 200px;

}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 0;

}

/* responsive design */
@media(max-width : 992px) {

  .navbar .links,
  .navbar .action-btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

/*-----------------NAVBAR-end-----------------*/

/*-----------------CONTACT-start-----------------*/

.page__title {
  text-align: center;
  margin-top: 15px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  background-color: #eee;
  padding: 25px;
  border-radius: 7px;
}

.contact__form input, .contact__form textarea {
  border: none;
  border-radius: 2px;
  padding: 10px;
  resize: vertical;
  outline: none;
  box-sizing: content-box;
  border-bottom: solid 3px transparent;
  margin: 5px 0;
}

.contact__form label {
  font-weight: 600;
}

.contact__form input:focus, .contact__form textarea:focus {
  border-bottom: solid 3px rgb(0, 119, 255);
}

/*-----------------CONTACT-end-----------------*/

footer {
 background-color: #1D1D1F;
 opacity: 0.5;
color: #86868B;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
padding: 25px 0;

position: fixed;
bottom: 0;
width: 100%;
z-index: 222;

}
footer .btn {
  margin-right: 70rem;
}
footer a{
  margin-inline: 1rem;
}

footer:hover{
  background-color: #1D1D1F;
  color: #F5F5F7;
  opacity: 1;
}

